In [170]:
import numpy as np

In [171]:
import pandas as pd
import os

In [187]:
sp_name_true = os.listdir("Data/Stock")
Open_price = pd.read_csv('Open_Close/Open.csv')
stock = pd.read_csv('Data/Stock/'+str(sp_name_true[1]))
sp_name = sp_name_true[1]
stock

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2006-02-06,32.561689,32.673905,31.514329,31.701359,1940300,0.0,0
1,2006-02-07,31.701358,31.701358,29.672096,30.850378,3224600,0.0,0
2,2006-02-08,29.419607,30.298644,28.877224,29.924585,8960500,0.0,0
3,2006-02-09,27.867269,32.711312,27.596079,32.262444,8016600,0.0,0
4,2006-02-10,31.720057,33.263045,31.420812,32.019306,2229100,0.0,0
...,...,...,...,...,...,...,...,...
4084,2022-04-27,48.750000,50.509998,48.180000,50.279999,13381900,0.0,0
4085,2022-04-28,50.700001,51.959999,49.930000,51.820000,12786700,0.0,0
4086,2022-04-29,51.389999,52.480000,50.310001,50.500000,10692500,0.0,0
4087,2022-05-02,50.490002,50.830002,48.700001,50.189999,13383900,0.0,0
4088,2022-05-03,50.389999,51.400002,49.650002,51.310001,4901130,0.0,0

In [186]:
new_frame = stock.iloc[:,:2]
new_frame

            Date       Open
0     2006-02-06  32.561689
1     2006-02-07  31.701358
2     2006-02-08  29.419607
3     2006-02-09  27.867269
4     2006-02-10  31.720057
...          ...        ...
4084  2022-04-27  48.750000
4085  2022-04-28  50.700001
4086  2022-04-29  51.389999
4087  2022-05-02  50.490002
4088  2022-05-03  50.389999

[4089 rows x 2 columns]

In [174]:
new_frame = stock_price.iloc[:,:2]

data = []
new_data = pd.DataFrame(data,columns=[str(sp_name[:-4])],index = [i for i in range(0,7812)])
dd = []
for i in list(Open_price['Date']):
        t = '/'.join(i.split('-'))
        dd.append(t)
new_data['Date'] = dd
for new_date in list(new_data['Date']):
    if new_date in list(new_frame['Date']):
        print(new_date)

In [177]:
Open_price = pd.read_csv('Open_Close/Open.csv')
sp_name_true = os.listdir("Data/Stock")
for sp_name in sp_name_true:
    stock_price = pd.read_csv('Data/Stock/'+ str(sp_name))
    new_frame = stock_price.iloc[:,:2]
    data = []
    new_data = pd.DataFrame(data,columns=[str(sp_name[:-4])],index = [i for i in range(0,7812)])
    dd = []
    for i in list(Open_price['Date']):
        t = '-'.join(i.split('/'))
        dd.append(t)
    new_data['Date'] = dd
    for new_date in new_data['Date']:
        if new_date in list(new_frame['Date']): 
            index1 = new_data.loc[new_data.Date == new_date].index
            index2 = new_frame.loc[new_frame.Date == new_date].index
            new_data.loc[index1[0],str(sp_name[:-4])] = new_frame.loc[index2[0],'Open']
    #  new_data.loc[new_data.Date == new_date].str(sp_name_true[0][:-4]) = new_frame.loc[new_frame.Date == new_frame_date].Open
    Open_price[sp_name[:-4]] = list(new_data[sp_name[:-4]])

In [180]:
Open_price.iloc[:-100,:]

,Date,AAPL,CSCO,UAL,TROW,ISRG,NVR,TPR,DVN,CE,...,CRM,PGR,WAT,IEX,BWA,LRCX,NWL,UAA,BLK,PPL
0,1990/1/2,0.251798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990/1/3,0.271442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990/1/4,0.273228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990/1/5,0.269656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990/1/8,0.267870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7707,2020/8/4,107.944624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,2020/8/5,108.186968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,2020/8/6,109.203291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7710,2020/8/7,112.174712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7711,2020/8/10,111.575204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
Open_price.to_csv('Open_close/Open_new.csv')

In [110]:
sp_name

'CSCO'

In [111]:
Open_price = pd.read_csv('Open_Close/Open.csv')
Open_price

            Date        AAPL
0       1990/1/2    0.251798
1       1990/1/3    0.271442
2       1990/1/4    0.273228
3       1990/1/5    0.269656
4       1990/1/8    0.267870
...          ...         ...
7807  2020/12/24  130.349333
7808  2020/12/28  132.999602
7809  2020/12/29  137.029580
7810  2020/12/30  134.577835
7811  2020/12/31  133.088938

[7812 rows x 2 columns]

In [114]:
# Open_date = list(Open_price['Date'].values)
# Open_date
# Open_price.insert(2,str(sp_name_true[0][:-4]),0,allow_duplicates=False)
# Open_price['CSCO'] = list(new_data['CSCO'])
# Open_price
# index1 = new_frame.loc[new_frame.Date == '1990-02-16'].Open
# index = new_frame.loc[new_frame.Date == '1990-02-20'].index
# # index[0].dtype
# yy = new_frame.loc[index[0],'Open'] = 32
# # new_frame
# # index
# yy

In [115]:
stock_price = pd.read_csv('Data/Stock/'+ str(sp_name_true[0]))
new_frame = stock_price.iloc[:,:2]

In [118]:
data = []
new_data = pd.DataFrame(data,columns=[str(sp_name_true[0][:-4])],index = [i for i in range(0,7812)])
dd = []
for i in list(Open_price['Date']):
    t = '-'.join(i.split('/'))
    dd.append(t)
new_data['Date'] = dd
new_data

     CSCO        Date
0     NaN    1990-1-2
1     NaN    1990-1-3
2     NaN    1990-1-4
3     NaN    1990-1-5
4     NaN    1990-1-8
...   ...         ...
7807  NaN  2020-12-24
7808  NaN  2020-12-28
7809  NaN  2020-12-29
7810  NaN  2020-12-30
7811  NaN  2020-12-31

[7812 rows x 2 columns]

In [119]:
for new_date in new_data['Date']:
    if new_date in list(new_frame['Date']): 
        index1 = new_data.loc[new_data.Date == new_date].index
        index2 = new_frame.loc[new_frame.Date == new_date].index
        new_data.loc[index1[0],str(sp_name_true[0][:-4])] = new_frame.loc[index2[0],'Open']
#  new_data.loc[new_data.Date == new_date].str(sp_name_true[0][:-4]) = new_frame.loc[new_frame.Date == new_frame_date].Open
Open_price[sp_name] = list(new_data[sp_name])
Open_price

In [120]:
new_data

         CSCO        Date
0         NaN    1990-1-2
1         NaN    1990-1-3
2         NaN    1990-1-4
3         NaN    1990-1-5
4         NaN    1990-1-8
...       ...         ...
7807  42.6388  2020-12-24
7808  43.0992  2020-12-28
7809  43.1376  2020-12-29
7810  42.9169  2020-12-30
7811  42.5716  2020-12-31

[7812 rows x 2 columns]

            Date        AAPL       CSCO
0       1990/1/2    0.251798        NaN
1       1990/1/3    0.271442        NaN
2       1990/1/4    0.273228        NaN
3       1990/1/5    0.269656        NaN
4       1990/1/8    0.267870        NaN
...          ...         ...        ...
7807  2020/12/24  130.349333  42.638757
7808  2020/12/28  132.999602  43.099194
7809  2020/12/29  137.029580  43.137562
7810  2020/12/30  134.577835  42.916941
7811  2020/12/31  133.088938  42.571614

[7812 rows x 3 columns]

In [9]:
date = list(set(new_frame['Date'].values))
date

['1996-02-15',
 '2004-11-19',
 '1997-01-14',
 '2022-01-24',
 '1999-12-13',
 '2003-05-06',
 '2012-09-26',
 '2016-11-23',
 '2010-01-13',
 '2008-12-18',
 '2007-08-01',
 '2002-03-14',
 '1994-06-21',
 '2001-08-03',
 '1991-06-20',
 '2017-11-22',
 '2009-07-10',
 '2009-01-23',
 '1997-06-04',
 '1994-04-05',
 '1999-05-24',
 '2013-06-05',
 '2018-09-25',
 '2017-09-05',
 '2019-05-20',
 '2005-02-24',
 '2013-01-31',
 '2021-02-10',
 '2021-10-08',
 '1990-12-19',
 '2020-08-25',
 '2021-03-30',
 '2004-12-29',
 '2000-02-08',
 '1991-02-15',
 '1996-04-15',
 '2015-05-14',
 '2016-05-03',
 '2019-04-10',
 '2012-11-30',
 '2013-09-26',
 '1998-03-09',
 '1995-01-11',
 '2002-04-25',
 '2013-02-14',
 '2003-10-15',
 '2001-08-29',
 '2018-06-04',
 '1991-07-18',
 '2013-09-27',
 '2010-02-09',
 '2017-03-16',
 '2005-10-27',
 '2016-02-24',
 '2019-08-13',
 '2004-04-12',
 '2006-10-16',
 '2010-02-08',
 '1994-06-13',
 '2010-06-23',
 '2005-08-17',
 '1995-09-15',
 '2017-02-07',
 '2001-11-19',
 '2002-10-14',
 '2016-12-23',
 '2011-09-06',
 '2005-03-17',
 '2003-06-09',
 '1994-01-27',
 '2004-07-26',
 '2008-03-18',
 '2011-03-01',
 '2018-05-21',
 '2020-03-04',
 '2008-07-15',
 '2003-11-06',
 '2010-08-31',
 '2005-04-19',
 '2018-02-02',
 '2012-02-02',
 '2021-06-02',
 '2017-12-28',
 '2014-08-29',
 '2007-09-12',
 '2022-04-12',
 '2013-02-21',
 '1999-09-22',
 '2012-03-13',
 '2015-12-21',
 '1995-06-23',
 '1998-08-14',
 '1993-07-12',
 '1999-05-06',
 '1999-08-06',
 '2020-07-08',
 '2013-01-07',
 '2010-08-20',
 '2004-03-31',
 '2021-10-06',
 '2010-01-07',
 '1992-11-27',
 '2003-02-27',
 '2021-06-29',
 '2021-10-07',
 '2000-01-11',
 '2017-09-11',
 '1992-11-04',
 '2010-05-28',
 '1999-07-12',
 '2012-03-21',
 '1994-05-26',
 '1993-10-19',
 '2021-12-06',
 '2002-11-22',
 '2005-09-28',
 '1998-10-27',
 '2008-04-25',
 '1990-05-04',
 '2017-12-12',
 '2006-12-20',
 '2019-04-18',
 '2012-04-13',
 '1997-10-24',
 '2010-03-09',
 '2001-05-31',
 '2009-03-09',
 '1997-08-21',
 '2011-12-02',
 '2011-06-06',
 '2021-06-21',
 '2021-08-02',
 '1993-12-16',
 '2010-05-27',
 '2019-11-26',
 '2006-12-06',
 '1990-08-03',
 '1993-04-02',
 '1998-12-18',
 '2012-02-10',
 '2015-04-08',
 '1992-09-28',
 '1997-06-18',
 '2007-12-24',
 '2011-12-16',
 '2005-07-20',
 '2004-03-22',
 '2002-11-06',
 '2008-07-25',
 '2018-03-01',
 '1999-12-01',
 '2020-04-30',
 '2016-03-29',
 '2003-05-02',
 '2016-08-29',
 '1993-04-14',
 '1997-02-04',
 '2018-11-28',
 '2003-10-22',
 '1995-02-09',
 '2010-03-01',
 '2020-03-10',
 '2004-02-23',
 '1992-05-14',
 '2011-03-31',
 '2015-07-21',
 '2015-01-26',
 '2016-01-29',
 '2009-01-08',
 '2011-06-24',
 '1995-03-16',
 '1995-12-29',
 '1996-08-09',
 '2011-11-17',
 '2014-06-16',
 '1993-05-11',
 '2018-11-16',
 '2008-12-08',
 '2009-12-17',
 '1996-12-27',
 '2011-06-10',
 '2017-04-11',
 '1995-05-31',
 '1994-05-19',
 '2005-05-18',
 '1993-12-27',
 '2010-09-22',
 '2019-11-25',
 '2017-03-20',
 '2010-12-02',
 '2002-11-18',
 '2017-09-14',
 '2017-09-01',
 '2012-04-24',
 '2009-02-18',
 '2013-06-10',
 '2012-09-17',
 '1994-10-14',
 '2001-12-11',
 '2008-08-05',
 '2002-12-23',
 '2017-03-27',
 '1999-05-10',
 '2016-12-29',
 '2001-01-03',
 '2018-04-13',
 '2021-03-12',
 '1994-02-09',
 '1998-03-12',
 '2015-01-16',
 '2002-01-30',
 '2005-06-01',
 '1990-11-28',
 '2011-12-05',
 '2007-06-08',
 '2003-07-17',
 '1990-06-15',
 '1998-09-08',
 '2000-11-01',
 '2017-09-22',
 '1993-05-18',
 '2011-03-09',
 '2001-02-08',
 '1992-11-23',
 '1996-09-18',
 '1992-01-21',
 '2019-06-21',
 '2016-12-21',
 '1993-03-03',
 '2019-06-10',
 '2014-10-22',
 '2020-09-14',
 '2001-01-26',
 '2012-09-25',
 '1994-08-12',
 '2016-03-28',
 '1998-10-14',
 '2001-01-31',
 '2016-12-08',
 '2018-06-08',
 '2010-03-18',
 '1995-04-04',
 '2015-02-24',
 '2014-12-15',
 '2000-07-11',
 '2007-10-26',
 '2011-12-21',
 '2016-04-06',
 '1994-09-02',
 '1999-10-15',
 '2006-11-24',
 '2006-10-18',
 '2021-06-18',
 '2009-05-27',
 '2007-09-28',
 '2013-11-19',
 '2000-06-28',
 '2014-10-28',
 '2008-09-15',
 '2013-09-19',
 '1990-10-26',
 '2008-03-20',
 '2005-06-08',
 '2003-08-20',
 '2013-09-13',
 '2017-05-17',
 '2003-05-05',
 '1993-03-12',
 '1991-08-21',
 '2000-03-14',
 '2000-07-12',
 '2012-08-21',
 '2010-06-15',
 '2013-11-14',
 '2011-02-17',
 '1999-06-11',
 '2006-05-23',
 '2015-12-14',
 '1990-10-30',
 '2018-10-02',
 '2007-02-08',
 '2006-03-22',
 '2006-04-13',
 '2009-04-30',
 '2011-03-23',
 '1999-04-01',
 '2004-12-14',
 '1999-10-05',
 '2010-07-21',
 '2014-08-22',
 '1992-10-21',
 '2000-07-18',
 '2006-05-24',
 '2000-03-23',
 '2000-03-28',
 '2016-08-31',
 '2010-02-16',
 '2018-05-18',
 '2007-04-25',
 '2021-06-16',
 '2014-05-02',
 '1991-08-05',
 '1995-01-30',
 '2012-05-24',
 '1999-10-13',
 '1990-08-01',
 '2009-03-31',
 '2019-08-05',
 '2015-03-18',
 '2015-01-29',
 '1994-10-04',
 '2009-11-13',
 '1997-09-15',
 '2006-01-18',
 '2019-05-31',
 '2021-02-18',
 '2003-03-13',
 '2009-10-02',
 '2005-12-27',
 '1994-07-05',
 '2002-12-20',
 '2012-08-30',
 '1999-08-16',
 '1992-01-02',
 '2006-04-28',
 '1999-11-08',
 '2003-12-29',
 '2010-08-10',
 '2003-04-28',
 '2008-12-15',
 '2005-04-06',
 '1991-01-11',
 '2018-03-28',
 '1996-09-23',
 '2006-08-04',
 '2019-05-14',
 '2009-12-03',
 '2001-04-12',
 '2013-06-12',
 '2009-02-23',
 '2002-06-28',
 '2018-07-10',
 '1993-04-22',
 '2014-09-10',
 '2022-01-13',
 '1997-03-11',
 '2014-01-15',
 '2012-02-29',
 '1993-09-24',
 '1990-12-03',
 '2010-07-14',
 '2008-10-30',
 '2013-01-11',
 '2001-08-15',
 '1995-12-28',
 '1991-08-28',
 '2006-03-14',
 '2013-09-11',
 '2009-05-11',
 '1997-11-25',
 '2011-05-12',
 '2001-11-28',
 '2021-05-24',
 '2006-01-23',
 '2001-09-21',
 '2011-06-29',
 '1995-03-28',
 '1996-07-03',
 '2003-01-17',
 '1991-11-21',
 '2012-01-20',
 '1995-05-16',
 '2000-10-30',
 '2015-05-15',
 '1991-04-09',
 '2000-06-02',
 '2018-08-02',
 '1992-12-29',
 '2012-07-27',
 '2015-11-04',
 '2012-11-09',
 '2016-08-11',
 '1999-12-22',
 '2013-12-20',
 '2008-01-07',
 '2015-06-15',
 '1995-07-31',
 '2013-03-08',
 '2017-01-04',
 '2013-05-03',
 '2016-11-07',
 '2000-10-26',
 '1994-05-27',
 '1997-10-23',
 '1998-02-20',
 '2015-05-29',
 '2013-10-28',
 '2002-09-18',
 '2019-02-15',
 '2002-04-03',
 '2021-07-01',
 '2010-09-16',
 '2004-07-23',
 '2001-10-12',
 '1999-08-19',
 '1992-02-11',
 '2004-10-25',
 '1996-01-23',
 '2020-10-07',
 '1994-12-06',
 '2003-11-04',
 '2003-10-17',
 '2020-10-16',
 '2015-10-28',
 '2012-09-11',
 '2020-01-17',
 '2004-01-16',
 '2002-02-15',
 '2000-10-31',
 '2018-07-09',
 '2020-06-25',
 '1999-08-09',
 '2004-02-17',
 '2007-06-26',
 '2009-03-26',
 '2019-09-24',
 '1999-10-20',
 '2012-08-23',
 '2003-06-02',
 '1994-08-04',
 '1997-04-07',
 '2012-03-15',
 '2000-10-13',
 '1996-06-05',
 '2021-10-11',
 '1996-10-16',
 '2012-08-31',
 '2018-11-30',
 '2013-04-04',
 '2008-04-02',
 '2012-01-09',
 '1998-05-11',
 '2019-10-01',
 '2006-10-10',
 '2017-12-08',
 '2002-01-08',
 '1994-12-09',
 '2011-01-20',
 '1996-01-31',
 '2001-08-22',
 '2018-05-04',
 '1992-01-14',
 '2004-05-11',
 '1998-09-01',
 '2018-10-15',
 '2019-05-30',
 '1995-08-15',
 '1991-02-27',
 '1990-09-21',
 '1993-06-14',
 '2006-07-07',
 '1992-01-24',
 '2002-01-31',
 '2008-07-18',
 '1999-02-19',
 '2000-04-14',
 '2013-04-02',
 '2007-05-31',
 '1993-08-20',
 '2017-08-29',
 '2017-09-29',
 '1991-06-21',
 '2018-05-24',
 '2005-09-21',
 '2017-12-11',
 '1990-08-08',
 '2016-12-12',
 '1990-12-10',
 '1993-12-29',
 '2001-07-05',
 '2004-10-20',
 '2007-06-25',
 '2013-07-31',
 '2001-01-09',
 '2007-02-12',
 '2016-03-14',
 '2005-04-04',
 '2011-01-19',
 '2013-07-09',
 '1998-07-09',
 '1992-03-24',
 '1994-08-02',
 '2018-01-08',
 '1994-09-21',
 '1995-10-23',
 '2001-01-02',
 '1996-04-22',
 '2009-07-13',
 '1994-10-13',
 '2011-01-04',
 '1998-07-30',
 '1995-08-08',
 '1993-04-27',
 '2002-11-21',
 '2009-02-04',
 '2011-10-14',
 '2011-02-22',
 '2014-11-20',
 '2009-04-13',
 '1991-11-27',
 '1993-09-13',
 '2014-11-11',
 '2004-01-27',
 '2015-08-31',
 '2011-02-14',
 '2022-03-31',
 '2002-09-24',
 '2017-01-11',
 '1997-04-25',
 '1996-03-27',
 '1996-09-25',
 '2008-01-16',
 '2005-04-21',
 '2017-02-02',
 '2014-06-25',
 '1999-09-27',
 '2015-09-29',
 '1990-02-23',
 '2018-11-26',
 '1991-12-19',
 '2021-01-19',
 '2013-12-13',
 '1994-07-11',
 '2011-03-11',
 '2002-11-05',
 '1995-12-11',
 '2015-10-22',
 '2006-03-21',
 '1998-04-17',
 '2019-10-28',
 '2019-04-03',
 '2003-01-03',
 '1998-04-24',
 '1990-12-26',
 '2010-09-21',
 '1990-07-03',
 '1995-03-06',
 '2018-09-11',
 '1997-05-21',
 '2007-08-14',
 '1990-06-08',
 '2003-04-29',
 '2001-06-21',
 '2004-02-09',
 '2012-09-14',
 '2016-09-28',
 '2007-10-02',
 '2009-09-02',
 '2001-12-10',
 '2008-08-27',
 '2013-07-01',
 '2005-04-05',
 '2015-04-27',
 '1999-09-16',
 '1997-07-21',
 '2004-11-01',
 '2004-12-16',
 '2016-01-05',
 '1993-02-05',
 '1993-11-16',
 '1999-11-05',
 '2000-08-04',
 '1992-04-01',
 '2016-08-15',
 '2000-05-03',
 '1993-12-02',
 '2000-11-14',
 '2018-07-02',
 '2021-06-25',
 '1995-01-31',
 '2017-07-31',
 '2015-06-03',
 '2010-03-23',
 '1999-03-18',
 '2014-03-21',
 '2008-06-30',
 '1999-12-07',
 '2010-09-29',
 '2013-04-19',
 '2010-01-08',
 '1996-08-01',
 '2012-06-07',
 '2009-11-20',
 '2021-09-28',
 '1991-07-09',
 '2004-06-07',
 '1995-11-28',
 '2006-09-27',
 '1992-06-11',
 '2016-06-24',
 '1996-11-05',
 '2012-01-26',
 '2018-04-25',
 '2011-12-14',
 '1994-04-25',
 '1991-10-16',
 '2011-04-18',
 '2005-11-17',
 '2007-03-13',
 '1990-09-20',
 '1994-05-12',
 '2001-07-18',
 '2018-03-02',
 '2002-12-12',
 '2016-11-08',
 '2008-05-22',
 '2005-04-18',
 '2006-08-18',
 '2007-03-28',
 '2017-12-19',
 '1997-06-03',
 '1998-05-12',
 '2016-10-06',
 '1998-08-27',
 '2001-08-07',
 '2006-05-16',
 '2003-02-19',
 '2001-06-18',
 '2016-10-13',
 '2002-02-11',
 '2015-11-16',
 '1990-06-07',
 '2018-08-20',
 '2018-06-28',
 '1995-08-28',
 '2005-11-25',
 '2015-03-27',
 '2009-06-16',
 '2008-02-29',
 '2015-09-23',
 '1994-05-11',
 '2008-05-06',
 '2010-06-30',
 '2017-07-13',
 '2014-06-02',
 '2012-05-11',
 '2020-11-18',
 '2010-08-26',
 '2012-12-10',
 '2015-10-07',
 '2020-07-01',
 '2014-11-19',
 '2002-03-20',
 '2013-02-13',
 '1993-04-15',
 '2004-02-25',
 '2007-10-12',
 '2010-08-04',
 '2004-06-14',
 '2003-06-11',
 '2016-02-09',
 '2008-03-03',
 '2004-06-04',
 '1990-12-28',
 '2001-05-03',
 '2013-05-24',
 '2001-04-11',
 '2019-12-20',
 '1995-04-12',
 '2019-04-02',
 '2000-11-08',
 '2014-10-01',
 '2019-03-07',
 '1995-10-30',
 '1999-01-27',
 '2016-01-11',
 '2019-10-07',
 '2009-10-06',
 '2005-04-07',
 '2015-06-18',
 '2000-04-24',
 '2003-03-07',
 '2011-03-08',
 '2015-05-21',
 '1991-06-12',
 '2013-09-17',
 '2014-08-06',
 '2004-11-15',
 '2006-07-10',
 '1997-12-23',
 '2013-10-24',
 '1994-01-28',
 '1999-03-09',
 '2004-11-23',
 '2015-01-09',
 '2017-07-19',
 '1996-12-09',
 '1998-06-24',
 '1991-02-19',
 '2016-05-23',
 '2014-12-09',
 '2011-08-19',
 '2003-05-16',
 '2016-05-20',
 '2010-02-25',
 '2001-05-14',
 '2006-02-17',
 '2002-03-05',
 '2019-10-03',
 '1990-06-01',
 '1995-02-10',
 '1997-06-24',
 '2008-09-08',
 '1999-03-26',
 '2014-11-10',
 '2012-05-10',
 '2015-08-13',
 '1995-12-14',
 '1995-09-12',
 '2019-08-30',
 '1993-11-09',
 '1991-10-15',
 '2013-01-18',
 '2011-07-21',
 '1998-02-11',
 '1990-09-18',
 '2003-07-15',
 '1999-07-30',
 '2008-04-16',
 '2017-12-15',
 '2009-08-31',
 '2004-05-04',
 '2012-10-05',
 '2014-10-29',
 '2017-01-24',
 '2004-05-19',
 '1997-07-30',
 '2010-01-12',
 '2006-02-02',
 '1995-08-10',
 '1996-09-16',
 '2016-08-02',
 '1990-07-18',
 '1997-08-22',
 '2005-02-23',
 '1990-08-17',
 '1993-07-19',
 '2009-10-26',
 '1993-08-06',
 '2002-10-10',
 '2008-07-23',
 '2011-12-01',
 '2002-05-24',
 '2002-01-04',
 '2013-05-10',
 '2002-09-10',
 '2021-06-23',
 '2010-05-25',
 '2016-04-01',
 '1995-09-06',
 '2009-09-24',
 '1992-04-28',
 '2008-09-05',
 '2007-03-12',
 '2012-06-25',
 '2003-05-01',
 '2019-02-04',
 '2011-09-16',
 '1995-01-23',
 '1996-08-27',
 '2007-08-09',
 '2013-12-30',
 '2020-02-21',
 '2001-06-14',
 '1991-06-10',
 '2002-10-29',
 '1994-02-01',
 '2003-04-11',
 '2016-09-09',
 '2009-11-12',
 '2021-10-20',
 '2021-11-05',
 '2008-02-22',
 '2006-01-06',
 '1997-01-28',
 '2020-07-17',
 '1992-08-17',
 '2018-04-23',
 '2017-05-26',
 '1992-04-13',
 '2018-08-24',
 '2001-10-18',
 '2006-10-17',
 '2015-02-27',
 '2020-07-14',
 '2006-04-07',
 '2020-08-18',
 '2021-11-24',
 '2004-03-24',
 '2013-04-03',
 '2013-09-23',
 '1997-08-27',
 '1997-02-27',
 '1991-07-02',
 '2011-10-17',
 '2013-04-25',
 '2013-09-30',
 '2010-04-06',
 '2020-04-29',
 '2012-06-29',
 '1997-03-21',
 '2004-02-02',
 '2014-09-19',
 '2005-06-30',
 '2021-09-30',
 '1995-11-14',
 '1990-09-24',
 '1995-06-02',
 '1991-06-28',
 '2008-04-09',
 '2018-07-20',
 '2009-03-05',
 '2003-06-18',
 '2004-11-11',
 '1991-02-13',
 '2022-01-12',
 '1990-11-19',
 '2004-01-26',
 '2005-04-08',
 '2014-08-01',
 '2022-02-16',
 '2002-09-05',
 '2019-09-11',
 '2000-08-02',
 '1990-02-27',
 '2004-12-23',
 '2015-08-20',
 '1998-07-14',
 '1992-04-30',
 '1999-03-01',
 '2017-04-04',
 '1993-08-11',
 '1996-11-13',
 '1993-04-30',
 '2018-04-30',
 '2007-09-27',
 '2015-01-12',
 '1999-08-27',
 '2018-09-20',
 '2008-02-25',
 '2002-06-03',
 '2004-01-09',
 '2006-01-25',
 '2014-02-18',
 '2006-03-02',
 '1993-06-02',
 '2002-09-17',
 '2003-12-10',
 '2004-04-22',
 '2010-08-03',
 '2005-05-04',
 '2018-08-13',
 '2021-06-15',
 '1990-02-16',
 '2009-04-09',
 '2014-03-12',
 '2005-09-01',
 '2007-04-27',
 '1995-07-10',
 '2008-06-11',
 '2008-01-09',
 '2009-03-23',
 '2005-06-13',
 '2006-09-28',
 '2006-11-09',
 '2017-08-24',
 '2001-12-03',
 '1991-02-05',
 '2000-03-08',
 '2020-08-31',
 '1997-05-19',
 '2003-08-08',
 '2005-02-18',
 '2000-11-15',
 '2003-03-20',
 '2005-11-29',
 '2007-04-18',
 '2009-04-07',
 '2013-12-02',
 '2014-06-13',
 '1995-09-28',
 '2013-10-15',
 '2016-02-25',
 '2012-03-30',
 '2015-03-05',
 '2003-10-06',
 '2012-11-01',
 '2001-01-22',
 '2003-12-30',
 '2014-12-23',
 '2003-10-28',
 '2005-09-22',
 '1999-12-16',
 '2020-07-27',
 '1991-11-11',
 '2002-11-29',
 '2019-03-08',
 '2010-03-02',
 '2019-07-15',
 '2020-09-17',
 '2017-03-21',
 '2020-05-15',
 '2021-04-16',
 '2017-06-14',
 '2011-08-22',
 '2011-06-23',
 '2006-11-01',
 '2021-07-23',
 '2010-04-27',
 '1998-11-17',
 '1995-04-27',
 '2021-09-23',
 '1992-02-19',
 '2022-03-04',
 '2006-05-26',
 '2005-02-09',
 '2016-04-27',
 '2013-04-11',
 '1992-06-18',
 '2003-01-14',
 '2009-02-05',
 '2002-02-12',
 '2018-10-26',
 '2017-04-26',
 '2015-07-22',
 '2021-02-22',
 '1991-04-05',
 '2011-12-23',
 '2003-07-29',
 '1998-08-06',
 '1993-01-18',
 '2010-05-26',
 '1991-12-17',
 '2008-01-10',
 '2010-07-02',
 '2011-06-02',
 '2013-03-19',
 '1999-10-25',
 '2004-09-16',
 '2018-10-24',
 '1997-05-09',
 '2011-08-11',
 '1991-06-18',
 '2008-02-21',
 '2014-03-18',
 '2007-04-11',
 '2021-04-30',
 '2013-02-22',
 '2014-06-26',
 '2013-06-18',
 '2017-09-13',
 '2010-06-21',
 '2005-07-14',
 '2004-05-14',
 '2013-02-20',
 '2011-12-20',
 '1995-05-15',
 '1999-05-07',
 '2004-03-05',
 '1997-08-15',
 '2008-04-17',
 '1992-03-30',
 '2005-02-28',
 '2005-02-22',
 '2003-10-31',
 '1999-04-15',
 '2003-02-07',
 '2013-07-15',
 '2016-12-05',
 '2022-04-22',
 '2020-05-11',
 '1999-08-05',
 '2015-02-26',
 '2008-06-13',
 '2021-01-11',
 '2014-02-21',
 '2007-04-23',
 '2021-09-21',
 '2015-09-02',
 '2010-04-26',
 '2021-07-06',
 '2008-06-09',
 '2011-11-10',
 '1994-03-14',
 '2019-11-19',
 '1999-11-04',
 '2005-04-27',
 '2022-03-28',
 '2002-03-04',
 '1993-02-04',
 ...]

In [10]:
list1 = []
for col in date:
    t = '/'.join(col.split('-'))
    list1.append(t)
list1

['1996/02/15',
 '2004/11/19',
 '1997/01/14',
 '2022/01/24',
 '1999/12/13',
 '2003/05/06',
 '2012/09/26',
 '2016/11/23',
 '2010/01/13',
 '2008/12/18',
 '2007/08/01',
 '2002/03/14',
 '1994/06/21',
 '2001/08/03',
 '1991/06/20',
 '2017/11/22',
 '2009/07/10',
 '2009/01/23',
 '1997/06/04',
 '1994/04/05',
 '1999/05/24',
 '2013/06/05',
 '2018/09/25',
 '2017/09/05',
 '2019/05/20',
 '2005/02/24',
 '2013/01/31',
 '2021/02/10',
 '2021/10/08',
 '1990/12/19',
 '2020/08/25',
 '2021/03/30',
 '2004/12/29',
 '2000/02/08',
 '1991/02/15',
 '1996/04/15',
 '2015/05/14',
 '2016/05/03',
 '2019/04/10',
 '2012/11/30',
 '2013/09/26',
 '1998/03/09',
 '1995/01/11',
 '2002/04/25',
 '2013/02/14',
 '2003/10/15',
 '2001/08/29',
 '2018/06/04',
 '1991/07/18',
 '2013/09/27',
 '2010/02/09',
 '2017/03/16',
 '2005/10/27',
 '2016/02/24',
 '2019/08/13',
 '2004/04/12',
 '2006/10/16',
 '2010/02/08',
 '1994/06/13',
 '2010/06/23',
 '2005/08/17',
 '1995/09/15',
 '2017/02/07',
 '2001/11/19',
 '2002/10/14',
 '2016/12/23',
 '2011/09/06',
 '2005/03/17',
 '2003/06/09',
 '1994/01/27',
 '2004/07/26',
 '2008/03/18',
 '2011/03/01',
 '2018/05/21',
 '2020/03/04',
 '2008/07/15',
 '2003/11/06',
 '2010/08/31',
 '2005/04/19',
 '2018/02/02',
 '2012/02/02',
 '2021/06/02',
 '2017/12/28',
 '2014/08/29',
 '2007/09/12',
 '2022/04/12',
 '2013/02/21',
 '1999/09/22',
 '2012/03/13',
 '2015/12/21',
 '1995/06/23',
 '1998/08/14',
 '1993/07/12',
 '1999/05/06',
 '1999/08/06',
 '2020/07/08',
 '2013/01/07',
 '2010/08/20',
 '2004/03/31',
 '2021/10/06',
 '2010/01/07',
 '1992/11/27',
 '2003/02/27',
 '2021/06/29',
 '2021/10/07',
 '2000/01/11',
 '2017/09/11',
 '1992/11/04',
 '2010/05/28',
 '1999/07/12',
 '2012/03/21',
 '1994/05/26',
 '1993/10/19',
 '2021/12/06',
 '2002/11/22',
 '2005/09/28',
 '1998/10/27',
 '2008/04/25',
 '1990/05/04',
 '2017/12/12',
 '2006/12/20',
 '2019/04/18',
 '2012/04/13',
 '1997/10/24',
 '2010/03/09',
 '2001/05/31',
 '2009/03/09',
 '1997/08/21',
 '2011/12/02',
 '2011/06/06',
 '2021/06/21',
 '2021/08/02',
 '1993/12/16',
 '2010/05/27',
 '2019/11/26',
 '2006/12/06',
 '1990/08/03',
 '1993/04/02',
 '1998/12/18',
 '2012/02/10',
 '2015/04/08',
 '1992/09/28',
 '1997/06/18',
 '2007/12/24',
 '2011/12/16',
 '2005/07/20',
 '2004/03/22',
 '2002/11/06',
 '2008/07/25',
 '2018/03/01',
 '1999/12/01',
 '2020/04/30',
 '2016/03/29',
 '2003/05/02',
 '2016/08/29',
 '1993/04/14',
 '1997/02/04',
 '2018/11/28',
 '2003/10/22',
 '1995/02/09',
 '2010/03/01',
 '2020/03/10',
 '2004/02/23',
 '1992/05/14',
 '2011/03/31',
 '2015/07/21',
 '2015/01/26',
 '2016/01/29',
 '2009/01/08',
 '2011/06/24',
 '1995/03/16',
 '1995/12/29',
 '1996/08/09',
 '2011/11/17',
 '2014/06/16',
 '1993/05/11',
 '2018/11/16',
 '2008/12/08',
 '2009/12/17',
 '1996/12/27',
 '2011/06/10',
 '2017/04/11',
 '1995/05/31',
 '1994/05/19',
 '2005/05/18',
 '1993/12/27',
 '2010/09/22',
 '2019/11/25',
 '2017/03/20',
 '2010/12/02',
 '2002/11/18',
 '2017/09/14',
 '2017/09/01',
 '2012/04/24',
 '2009/02/18',
 '2013/06/10',
 '2012/09/17',
 '1994/10/14',
 '2001/12/11',
 '2008/08/05',
 '2002/12/23',
 '2017/03/27',
 '1999/05/10',
 '2016/12/29',
 '2001/01/03',
 '2018/04/13',
 '2021/03/12',
 '1994/02/09',
 '1998/03/12',
 '2015/01/16',
 '2002/01/30',
 '2005/06/01',
 '1990/11/28',
 '2011/12/05',
 '2007/06/08',
 '2003/07/17',
 '1990/06/15',
 '1998/09/08',
 '2000/11/01',
 '2017/09/22',
 '1993/05/18',
 '2011/03/09',
 '2001/02/08',
 '1992/11/23',
 '1996/09/18',
 '1992/01/21',
 '2019/06/21',
 '2016/12/21',
 '1993/03/03',
 '2019/06/10',
 '2014/10/22',
 '2020/09/14',
 '2001/01/26',
 '2012/09/25',
 '1994/08/12',
 '2016/03/28',
 '1998/10/14',
 '2001/01/31',
 '2016/12/08',
 '2018/06/08',
 '2010/03/18',
 '1995/04/04',
 '2015/02/24',
 '2014/12/15',
 '2000/07/11',
 '2007/10/26',
 '2011/12/21',
 '2016/04/06',
 '1994/09/02',
 '1999/10/15',
 '2006/11/24',
 '2006/10/18',
 '2021/06/18',
 '2009/05/27',
 '2007/09/28',
 '2013/11/19',
 '2000/06/28',
 '2014/10/28',
 '2008/09/15',
 '2013/09/19',
 '1990/10/26',
 '2008/03/20',
 '2005/06/08',
 '2003/08/20',
 '2013/09/13',
 '2017/05/17',
 '2003/05/05',
 '1993/03/12',
 '1991/08/21',
 '2000/03/14',
 '2000/07/12',
 '2012/08/21',
 '2010/06/15',
 '2013/11/14',
 '2011/02/17',
 '1999/06/11',
 '2006/05/23',
 '2015/12/14',
 '1990/10/30',
 '2018/10/02',
 '2007/02/08',
 '2006/03/22',
 '2006/04/13',
 '2009/04/30',
 '2011/03/23',
 '1999/04/01',
 '2004/12/14',
 '1999/10/05',
 '2010/07/21',
 '2014/08/22',
 '1992/10/21',
 '2000/07/18',
 '2006/05/24',
 '2000/03/23',
 '2000/03/28',
 '2016/08/31',
 '2010/02/16',
 '2018/05/18',
 '2007/04/25',
 '2021/06/16',
 '2014/05/02',
 '1991/08/05',
 '1995/01/30',
 '2012/05/24',
 '1999/10/13',
 '1990/08/01',
 '2009/03/31',
 '2019/08/05',
 '2015/03/18',
 '2015/01/29',
 '1994/10/04',
 '2009/11/13',
 '1997/09/15',
 '2006/01/18',
 '2019/05/31',
 '2021/02/18',
 '2003/03/13',
 '2009/10/02',
 '2005/12/27',
 '1994/07/05',
 '2002/12/20',
 '2012/08/30',
 '1999/08/16',
 '1992/01/02',
 '2006/04/28',
 '1999/11/08',
 '2003/12/29',
 '2010/08/10',
 '2003/04/28',
 '2008/12/15',
 '2005/04/06',
 '1991/01/11',
 '2018/03/28',
 '1996/09/23',
 '2006/08/04',
 '2019/05/14',
 '2009/12/03',
 '2001/04/12',
 '2013/06/12',
 '2009/02/23',
 '2002/06/28',
 '2018/07/10',
 '1993/04/22',
 '2014/09/10',
 '2022/01/13',
 '1997/03/11',
 '2014/01/15',
 '2012/02/29',
 '1993/09/24',
 '1990/12/03',
 '2010/07/14',
 '2008/10/30',
 '2013/01/11',
 '2001/08/15',
 '1995/12/28',
 '1991/08/28',
 '2006/03/14',
 '2013/09/11',
 '2009/05/11',
 '1997/11/25',
 '2011/05/12',
 '2001/11/28',
 '2021/05/24',
 '2006/01/23',
 '2001/09/21',
 '2011/06/29',
 '1995/03/28',
 '1996/07/03',
 '2003/01/17',
 '1991/11/21',
 '2012/01/20',
 '1995/05/16',
 '2000/10/30',
 '2015/05/15',
 '1991/04/09',
 '2000/06/02',
 '2018/08/02',
 '1992/12/29',
 '2012/07/27',
 '2015/11/04',
 '2012/11/09',
 '2016/08/11',
 '1999/12/22',
 '2013/12/20',
 '2008/01/07',
 '2015/06/15',
 '1995/07/31',
 '2013/03/08',
 '2017/01/04',
 '2013/05/03',
 '2016/11/07',
 '2000/10/26',
 '1994/05/27',
 '1997/10/23',
 '1998/02/20',
 '2015/05/29',
 '2013/10/28',
 '2002/09/18',
 '2019/02/15',
 '2002/04/03',
 '2021/07/01',
 '2010/09/16',
 '2004/07/23',
 '2001/10/12',
 '1999/08/19',
 '1992/02/11',
 '2004/10/25',
 '1996/01/23',
 '2020/10/07',
 '1994/12/06',
 '2003/11/04',
 '2003/10/17',
 '2020/10/16',
 '2015/10/28',
 '2012/09/11',
 '2020/01/17',
 '2004/01/16',
 '2002/02/15',
 '2000/10/31',
 '2018/07/09',
 '2020/06/25',
 '1999/08/09',
 '2004/02/17',
 '2007/06/26',
 '2009/03/26',
 '2019/09/24',
 '1999/10/20',
 '2012/08/23',
 '2003/06/02',
 '1994/08/04',
 '1997/04/07',
 '2012/03/15',
 '2000/10/13',
 '1996/06/05',
 '2021/10/11',
 '1996/10/16',
 '2012/08/31',
 '2018/11/30',
 '2013/04/04',
 '2008/04/02',
 '2012/01/09',
 '1998/05/11',
 '2019/10/01',
 '2006/10/10',
 '2017/12/08',
 '2002/01/08',
 '1994/12/09',
 '2011/01/20',
 '1996/01/31',
 '2001/08/22',
 '2018/05/04',
 '1992/01/14',
 '2004/05/11',
 '1998/09/01',
 '2018/10/15',
 '2019/05/30',
 '1995/08/15',
 '1991/02/27',
 '1990/09/21',
 '1993/06/14',
 '2006/07/07',
 '1992/01/24',
 '2002/01/31',
 '2008/07/18',
 '1999/02/19',
 '2000/04/14',
 '2013/04/02',
 '2007/05/31',
 '1993/08/20',
 '2017/08/29',
 '2017/09/29',
 '1991/06/21',
 '2018/05/24',
 '2005/09/21',
 '2017/12/11',
 '1990/08/08',
 '2016/12/12',
 '1990/12/10',
 '1993/12/29',
 '2001/07/05',
 '2004/10/20',
 '2007/06/25',
 '2013/07/31',
 '2001/01/09',
 '2007/02/12',
 '2016/03/14',
 '2005/04/04',
 '2011/01/19',
 '2013/07/09',
 '1998/07/09',
 '1992/03/24',
 '1994/08/02',
 '2018/01/08',
 '1994/09/21',
 '1995/10/23',
 '2001/01/02',
 '1996/04/22',
 '2009/07/13',
 '1994/10/13',
 '2011/01/04',
 '1998/07/30',
 '1995/08/08',
 '1993/04/27',
 '2002/11/21',
 '2009/02/04',
 '2011/10/14',
 '2011/02/22',
 '2014/11/20',
 '2009/04/13',
 '1991/11/27',
 '1993/09/13',
 '2014/11/11',
 '2004/01/27',
 '2015/08/31',
 '2011/02/14',
 '2022/03/31',
 '2002/09/24',
 '2017/01/11',
 '1997/04/25',
 '1996/03/27',
 '1996/09/25',
 '2008/01/16',
 '2005/04/21',
 '2017/02/02',
 '2014/06/25',
 '1999/09/27',
 '2015/09/29',
 '1990/02/23',
 '2018/11/26',
 '1991/12/19',
 '2021/01/19',
 '2013/12/13',
 '1994/07/11',
 '2011/03/11',
 '2002/11/05',
 '1995/12/11',
 '2015/10/22',
 '2006/03/21',
 '1998/04/17',
 '2019/10/28',
 '2019/04/03',
 '2003/01/03',
 '1998/04/24',
 '1990/12/26',
 '2010/09/21',
 '1990/07/03',
 '1995/03/06',
 '2018/09/11',
 '1997/05/21',
 '2007/08/14',
 '1990/06/08',
 '2003/04/29',
 '2001/06/21',
 '2004/02/09',
 '2012/09/14',
 '2016/09/28',
 '2007/10/02',
 '2009/09/02',
 '2001/12/10',
 '2008/08/27',
 '2013/07/01',
 '2005/04/05',
 '2015/04/27',
 '1999/09/16',
 '1997/07/21',
 '2004/11/01',
 '2004/12/16',
 '2016/01/05',
 '1993/02/05',
 '1993/11/16',
 '1999/11/05',
 '2000/08/04',
 '1992/04/01',
 '2016/08/15',
 '2000/05/03',
 '1993/12/02',
 '2000/11/14',
 '2018/07/02',
 '2021/06/25',
 '1995/01/31',
 '2017/07/31',
 '2015/06/03',
 '2010/03/23',
 '1999/03/18',
 '2014/03/21',
 '2008/06/30',
 '1999/12/07',
 '2010/09/29',
 '2013/04/19',
 '2010/01/08',
 '1996/08/01',
 '2012/06/07',
 '2009/11/20',
 '2021/09/28',
 '1991/07/09',
 '2004/06/07',
 '1995/11/28',
 '2006/09/27',
 '1992/06/11',
 '2016/06/24',
 '1996/11/05',
 '2012/01/26',
 '2018/04/25',
 '2011/12/14',
 '1994/04/25',
 '1991/10/16',
 '2011/04/18',
 '2005/11/17',
 '2007/03/13',
 '1990/09/20',
 '1994/05/12',
 '2001/07/18',
 '2018/03/02',
 '2002/12/12',
 '2016/11/08',
 '2008/05/22',
 '2005/04/18',
 '2006/08/18',
 '2007/03/28',
 '2017/12/19',
 '1997/06/03',
 '1998/05/12',
 '2016/10/06',
 '1998/08/27',
 '2001/08/07',
 '2006/05/16',
 '2003/02/19',
 '2001/06/18',
 '2016/10/13',
 '2002/02/11',
 '2015/11/16',
 '1990/06/07',
 '2018/08/20',
 '2018/06/28',
 '1995/08/28',
 '2005/11/25',
 '2015/03/27',
 '2009/06/16',
 '2008/02/29',
 '2015/09/23',
 '1994/05/11',
 '2008/05/06',
 '2010/06/30',
 '2017/07/13',
 '2014/06/02',
 '2012/05/11',
 '2020/11/18',
 '2010/08/26',
 '2012/12/10',
 '2015/10/07',
 '2020/07/01',
 '2014/11/19',
 '2002/03/20',
 '2013/02/13',
 '1993/04/15',
 '2004/02/25',
 '2007/10/12',
 '2010/08/04',
 '2004/06/14',
 '2003/06/11',
 '2016/02/09',
 '2008/03/03',
 '2004/06/04',
 '1990/12/28',
 '2001/05/03',
 '2013/05/24',
 '2001/04/11',
 '2019/12/20',
 '1995/04/12',
 '2019/04/02',
 '2000/11/08',
 '2014/10/01',
 '2019/03/07',
 '1995/10/30',
 '1999/01/27',
 '2016/01/11',
 '2019/10/07',
 '2009/10/06',
 '2005/04/07',
 '2015/06/18',
 '2000/04/24',
 '2003/03/07',
 '2011/03/08',
 '2015/05/21',
 '1991/06/12',
 '2013/09/17',
 '2014/08/06',
 '2004/11/15',
 '2006/07/10',
 '1997/12/23',
 '2013/10/24',
 '1994/01/28',
 '1999/03/09',
 '2004/11/23',
 '2015/01/09',
 '2017/07/19',
 '1996/12/09',
 '1998/06/24',
 '1991/02/19',
 '2016/05/23',
 '2014/12/09',
 '2011/08/19',
 '2003/05/16',
 '2016/05/20',
 '2010/02/25',
 '2001/05/14',
 '2006/02/17',
 '2002/03/05',
 '2019/10/03',
 '1990/06/01',
 '1995/02/10',
 '1997/06/24',
 '2008/09/08',
 '1999/03/26',
 '2014/11/10',
 '2012/05/10',
 '2015/08/13',
 '1995/12/14',
 '1995/09/12',
 '2019/08/30',
 '1993/11/09',
 '1991/10/15',
 '2013/01/18',
 '2011/07/21',
 '1998/02/11',
 '1990/09/18',
 '2003/07/15',
 '1999/07/30',
 '2008/04/16',
 '2017/12/15',
 '2009/08/31',
 '2004/05/04',
 '2012/10/05',
 '2014/10/29',
 '2017/01/24',
 '2004/05/19',
 '1997/07/30',
 '2010/01/12',
 '2006/02/02',
 '1995/08/10',
 '1996/09/16',
 '2016/08/02',
 '1990/07/18',
 '1997/08/22',
 '2005/02/23',
 '1990/08/17',
 '1993/07/19',
 '2009/10/26',
 '1993/08/06',
 '2002/10/10',
 '2008/07/23',
 '2011/12/01',
 '2002/05/24',
 '2002/01/04',
 '2013/05/10',
 '2002/09/10',
 '2021/06/23',
 '2010/05/25',
 '2016/04/01',
 '1995/09/06',
 '2009/09/24',
 '1992/04/28',
 '2008/09/05',
 '2007/03/12',
 '2012/06/25',
 '2003/05/01',
 '2019/02/04',
 '2011/09/16',
 '1995/01/23',
 '1996/08/27',
 '2007/08/09',
 '2013/12/30',
 '2020/02/21',
 '2001/06/14',
 '1991/06/10',
 '2002/10/29',
 '1994/02/01',
 '2003/04/11',
 '2016/09/09',
 '2009/11/12',
 '2021/10/20',
 '2021/11/05',
 '2008/02/22',
 '2006/01/06',
 '1997/01/28',
 '2020/07/17',
 '1992/08/17',
 '2018/04/23',
 '2017/05/26',
 '1992/04/13',
 '2018/08/24',
 '2001/10/18',
 '2006/10/17',
 '2015/02/27',
 '2020/07/14',
 '2006/04/07',
 '2020/08/18',
 '2021/11/24',
 '2004/03/24',
 '2013/04/03',
 '2013/09/23',
 '1997/08/27',
 '1997/02/27',
 '1991/07/02',
 '2011/10/17',
 '2013/04/25',
 '2013/09/30',
 '2010/04/06',
 '2020/04/29',
 '2012/06/29',
 '1997/03/21',
 '2004/02/02',
 '2014/09/19',
 '2005/06/30',
 '2021/09/30',
 '1995/11/14',
 '1990/09/24',
 '1995/06/02',
 '1991/06/28',
 '2008/04/09',
 '2018/07/20',
 '2009/03/05',
 '2003/06/18',
 '2004/11/11',
 '1991/02/13',
 '2022/01/12',
 '1990/11/19',
 '2004/01/26',
 '2005/04/08',
 '2014/08/01',
 '2022/02/16',
 '2002/09/05',
 '2019/09/11',
 '2000/08/02',
 '1990/02/27',
 '2004/12/23',
 '2015/08/20',
 '1998/07/14',
 '1992/04/30',
 '1999/03/01',
 '2017/04/04',
 '1993/08/11',
 '1996/11/13',
 '1993/04/30',
 '2018/04/30',
 '2007/09/27',
 '2015/01/12',
 '1999/08/27',
 '2018/09/20',
 '2008/02/25',
 '2002/06/03',
 '2004/01/09',
 '2006/01/25',
 '2014/02/18',
 '2006/03/02',
 '1993/06/02',
 '2002/09/17',
 '2003/12/10',
 '2004/04/22',
 '2010/08/03',
 '2005/05/04',
 '2018/08/13',
 '2021/06/15',
 '1990/02/16',
 '2009/04/09',
 '2014/03/12',
 '2005/09/01',
 '2007/04/27',
 '1995/07/10',
 '2008/06/11',
 '2008/01/09',
 '2009/03/23',
 '2005/06/13',
 '2006/09/28',
 '2006/11/09',
 '2017/08/24',
 '2001/12/03',
 '1991/02/05',
 '2000/03/08',
 '2020/08/31',
 '1997/05/19',
 '2003/08/08',
 '2005/02/18',
 '2000/11/15',
 '2003/03/20',
 '2005/11/29',
 '2007/04/18',
 '2009/04/07',
 '2013/12/02',
 '2014/06/13',
 '1995/09/28',
 '2013/10/15',
 '2016/02/25',
 '2012/03/30',
 '2015/03/05',
 '2003/10/06',
 '2012/11/01',
 '2001/01/22',
 '2003/12/30',
 '2014/12/23',
 '2003/10/28',
 '2005/09/22',
 '1999/12/16',
 '2020/07/27',
 '1991/11/11',
 '2002/11/29',
 '2019/03/08',
 '2010/03/02',
 '2019/07/15',
 '2020/09/17',
 '2017/03/21',
 '2020/05/15',
 '2021/04/16',
 '2017/06/14',
 '2011/08/22',
 '2011/06/23',
 '2006/11/01',
 '2021/07/23',
 '2010/04/27',
 '1998/11/17',
 '1995/04/27',
 '2021/09/23',
 '1992/02/19',
 '2022/03/04',
 '2006/05/26',
 '2005/02/09',
 '2016/04/27',
 '2013/04/11',
 '1992/06/18',
 '2003/01/14',
 '2009/02/05',
 '2002/02/12',
 '2018/10/26',
 '2017/04/26',
 '2015/07/22',
 '2021/02/22',
 '1991/04/05',
 '2011/12/23',
 '2003/07/29',
 '1998/08/06',
 '1993/01/18',
 '2010/05/26',
 '1991/12/17',
 '2008/01/10',
 '2010/07/02',
 '2011/06/02',
 '2013/03/19',
 '1999/10/25',
 '2004/09/16',
 '2018/10/24',
 '1997/05/09',
 '2011/08/11',
 '1991/06/18',
 '2008/02/21',
 '2014/03/18',
 '2007/04/11',
 '2021/04/30',
 '2013/02/22',
 '2014/06/26',
 '2013/06/18',
 '2017/09/13',
 '2010/06/21',
 '2005/07/14',
 '2004/05/14',
 '2013/02/20',
 '2011/12/20',
 '1995/05/15',
 '1999/05/07',
 '2004/03/05',
 '1997/08/15',
 '2008/04/17',
 '1992/03/30',
 '2005/02/28',
 '2005/02/22',
 '2003/10/31',
 '1999/04/15',
 '2003/02/07',
 '2013/07/15',
 '2016/12/05',
 '2022/04/22',
 '2020/05/11',
 '1999/08/05',
 '2015/02/26',
 '2008/06/13',
 '2021/01/11',
 '2014/02/21',
 '2007/04/23',
 '2021/09/21',
 '2015/09/02',
 '2010/04/26',
 '2021/07/06',
 '2008/06/09',
 '2011/11/10',
 '1994/03/14',
 '2019/11/19',
 '1999/11/04',
 '2005/04/27',
 '2022/03/28',
 '2002/03/04',
 '1993/02/04',
 ...]

In [ ]:
for i in list1:
    new_frame

In [65]:
# new_frame.loc[0:'Date']
# new_frame.loc[0:] = '-'
for date in 
new_frame.at[1,'Date']

'1990-02-20'

In [56]:
new_frame.set_index(["Date"],inplace = True)

In [10]:
new_frame.columns = [str(sp_name_true[0][:-4])]

In [11]:
new_frame

                 CSCO
Date
1990-02-16   0.000000
1990-02-20   0.000000
1990-02-21   0.000000
1990-02-22   0.000000
1990-02-23   0.000000
...               ...
2022-04-27  50.910000
2022-04-28  49.529999
2022-04-29  50.509998
2022-05-02  49.340000
2022-05-03  49.770000

[8115 rows x 1 columns]